<section id="home" class="iq-main-slider p-0">
  <div
    style="
      background-image: url(https://i.redd.it/x2w8e5u895p21.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    "
    id="home-slider"
    class="slider m-0 p-0"
  >
    <div class="slide slick-bg s-bg-1">
      <div class="container-fluid position-relative h-100">
        <div class="slider-inner h-100">
          <div class="row align-items-center h-100">
            <div class="col-xl-6 col-lg-12 col-md-12">
              <!-- <a href="javascript:void(0);">
                <div
                  class="channel-logo"
                  data-animation-in="fadeInLeft"
                  data-delay-in="0.5"
                >
                  <img src="images/logo.png" class="c-logo" alt="streamit" />
                </div>
              </a> -->
              <h1 class="title text-uppercase" data-delay-in="0.6">
                {{ movie.name }}
              </h1>

              <div
                class="d-flex flex-wrap align-items-center fadeInLeft animated"
                data-animation-in="fadeInLeft"
                style="opacity: 1"
              >
                <div
                  class="
                    slider-ratting
                    d-flex
                    align-items-center
                    mr-4
                    mt-2 mt-md-3
                  "
                >
                  <ul
                    class="
                      ratting-start
                      p-0
                      m-0
                      list-inline
                      text-primary
                      d-flex
                      align-items-center
                      justify-content-left
                    "
                  >
                    <li>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star-half" aria-hidden="true"></i>
                    </li>
                  </ul>
                  <span class="text-white ml-2">{{ movie.imdb }}(IMDB) </span>
                </div>
                <div class="d-flex align-items-center mt-2 mt-md-3">
                  <span class="badge badge-secondary p-2"> 18+</span>
                </div>
              </div>

              <!-- <div class="d-flex align-items-center" data-animation-in="fadeInUp" data-delay-in="1">
                          
                         <span class="badge badge-secondary p-2">18+</span>
                         <span class="ml-3">2 Seasons</span>
                      </div> -->
              <!-- urlerror fade-in-up yazıyı invisible yaptığı için sildim -->
              <p data-delay-in="1.2">{{ movie.detail }}</p>
              <div
                class="trending-list"
                data-wp_object-in="fadeInUp"
                data-delay-in="1.2"
              >
                <div class="text-primary title starring">
                  Oyuncular: <span class="text-body">{{ movie.starring }}</span>
                </div>
                <div class="text-primary title genres">
                  Tür: <span class="text-body">Aksiyon</span>
                </div>
                <div class="text-primary title tag">
                  Etiket: <span class="text-body">Aksiyon, Macera</span>
                </div>
              </div>
              <div
                class="d-flex align-items-center r-mb-23"
                data-delay-in="1.2"
              >
                <!-- <a
                  routerLink="/movie-play/{{ movie.id }}"
                  class="btn btn-hover iq-button"
                  ><i class="fa fa-play mr-2" aria-hidden="true"></i>Oynat</a
                > -->
                <a class="btn btn-hover"
                  >Daha fazlası</a
                >
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-lg-12 col-md-12 trailor-video">
            <a type="button" class="video-open playbtn">
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                width="80px"
                height="80px"
                viewBox="0 0 213.7 213.7"
                enable-background="new 0 0 213.7 213.7"
                xml:space="preserve"
              >
                <polygon
                  class="triangle"
                  fill="none"
                  stroke-width="7"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-miterlimit="10"
                  points="73.5,62.5 148.5,105.8 73.5,149.1 "
                />
                <circle
                  class="circle"
                  fill="none"
                  stroke-width="7"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-miterlimit="10"
                  cx="106.8"
                  cy="106.8"
                  r="103.3"
                />
              </svg>
              <span routerLink="/movie-play/{{ movie.id }}" class="w-trailor">Filmi Seyret</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
    <symbol
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 44 44"
      width="44px"
      height="44px"
      id="circle"
      fill="none"
      stroke="currentColor"
    >
      <circle r="20" cy="22" cx="22" id="test"></circle>
    </symbol>
  </svg>
</section>
<!-- Slider End -->

<!-- Continue Watching -->
<div *ngIf="userId" class="main-content"> 
  <section id="iq-favorites">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 overflow-hidden">
          <div
            class="
              iq-main-header
              d-flex
              align-items-center
              justify-content-between
            "
          >
            <h4 class="main-title">İzlemeye Devam Et</h4>
            <a class="iq-view-all" routerLink="/movies">Tümünü Görüntüle</a>
          </div>
          <div class="favorites-contens">
            <ngx-slick-carousel
              class="carousel"
              #slickModal="slick-carousel"
              [config]="slideConfig"
            >
              <li ngxSlickItem *ngFor="let m of continueWatchinglist" class="slide-item">
                <div class="block-images position-relative">
                  <div class="img-box">
                    <img
                      class="img-fluid"
                      src="{{ m.pictureUrl }}"
                      alt=""
                      width="100%"
                    />
                  </div>
                  <div class="block-description">
                    <h6 class="iq-title">
                      <a href="movie-details.html">{{ m.name }}</a>
                    </h6>
                    <div class="movie-time d-flex align-items-center my-2">
                      <div class="badge badge-secondary p-1 mr-2">
                        {{ m.rated }}
                      </div>
                      <span class="text-white">{{ m.duration }}</span>
                    </div>
                    <div
                      (click)="setCurrentMovie(m)"
                      routerLink="/movie-play/{{ m.id }}"
                      class="hover-buttons"
                    >
                      <span class="btn btn-hover iq-button">
                        <i class="fa fa-play mr-1" aria-hidden="true"></i>
                        Oynat
                      </span>
                    </div>
                  </div>
                  <div class="block-social-info">
                    <ul class="list-inline p-0 m-0 music-play-lists">
                       <li class="share">
                          <span><i class="ri-share-fill"></i></span>
                          <div class="share-box">
                          </div>
                       </li>
                       <li *ngIf="!watchlist.includes(m.id)"><span><i (click)="addToWatchlist(m.id)" class="ri-add-line"></i></span></li>
                       <li *ngIf="watchlist.includes(m.id)"> <span><i (click)="removeFromWatchlist(m.id)" class="ri-delete-bin-7-fill"></i></span></li>
                       <li>
                           <span><i class="ri-heart-fill"></i></span>
                        </li>
                    </ul>
                 </div>
                </div>
              </li>
            </ngx-slick-carousel>
            <a class="slick-arrow slick-next"
              ><i class="fa fa-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Watchlist -->
<div *ngIf="userId" class="main-content"> 
  <section id="iq-favorites">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 overflow-hidden">
          <div
            class="
              iq-main-header
              d-flex
              align-items-center
              justify-content-between
            "
          >
            <h4 class="main-title">İzleme Listesi</h4>
            <a class="iq-view-all" routerLink="/watchlist">Tümünü Görüntüle</a>
          </div>
          <div class="favorites-contens">
            <ngx-slick-carousel
              class="carousel"
              #slickModal="slick-carousel"
              [config]="slideConfig"
            >
              <li ngxSlickItem *ngFor="let m of watchingList" class="slide-item">
                <div class="block-images position-relative">
                  <div class="img-box">
                    <img
                      class="img-fluid"
                      src="{{ m.pictureUrl }}"
                      alt=""
                      width="100%"
                    />
                  </div>
                  <div class="block-description">
                    <h6 class="iq-title">
                      <a href="movie-details.html">{{ m.name }}</a>
                    </h6>
                    <div class="movie-time d-flex align-items-center my-2">
                      <div class="badge badge-secondary p-1 mr-2">
                        {{ m.rated }}
                      </div>
                      <span class="text-white">{{ m.duration }}</span>
                    </div>
                    <div
                      (click)="setCurrentMovie(m)"
                      routerLink="/movie-play/{{ m.id }}"
                      class="hover-buttons"
                    >
                      <span class="btn btn-hover iq-button">
                        <i class="fa fa-play mr-1" aria-hidden="true"></i>
                        Oynat
                      </span>
                    </div>
                  </div>
                  <div class="block-social-info">
                    <ul class="list-inline p-0 m-0 music-play-lists">
                       <li class="share">
                          <span><i class="ri-share-fill"></i></span>
                          <div class="share-box">
                             <div class="d-flex align-items-center">
                                 </div>
                          </div>
                       </li>
                       <li *ngIf="!watchlist.includes(m.id)"><span><i (click)="addToWatchlist(m.id)" class="ri-add-line"></i></span></li>
                       <li *ngIf="watchlist.includes(m.id)"> <span><i (click)="removeFromWatchlist(m.id)" class="ri-delete-bin-7-fill"></i></span></li>
                       <li>
                           <span><i class="ri-heart-fill"></i></span>
                        </li>
                    </ul>
                 </div>
                </div>
              </li>
            </ngx-slick-carousel>
            <a class="slick-arrow slick-next"
              ><i class="fa fa-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Most Recently Addeds -->
<div class="main-content"> 
  <section id="iq-favorites">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 overflow-hidden">
          <div
            class="
              iq-main-header
              d-flex
              align-items-center
              justify-content-between
            "
          >
            <h4 class="main-title">En Son Eklenenler</h4>
          </div>
          <div class="favorites-contens">
            <ngx-slick-carousel
              class="carousel"
              #slickModal="slick-carousel"
              [config]="slideConfig"
            >
              <li ngxSlickItem *ngFor="let m of mostRecentlyAdded" class="slide-item">
                <div class="block-images position-relative">
                  <div class="img-box">
                    <img
                      class="img-fluid"
                      src="{{ m.pictureUrl }}"
                      alt=""
                      width="100%"
                    />
                  </div>
                  <div class="block-description">
                    <h6 class="iq-title">
                      <a href="movie-details.html">{{ m.name }}</a>
                    </h6>
                    <div class="movie-time d-flex align-items-center my-2">
                      <div class="badge badge-secondary p-1 mr-2">
                        {{ m.rated }}
                      </div>
                      <span class="text-white">{{ m.duration }}</span>
                    </div>
                    <div
                      (click)="setCurrentMovie(m)"
                      routerLink="/movie-play/{{ m.id }}"
                      class="hover-buttons"
                    >
                      <span class="btn btn-hover iq-button">
                        <i class="fa fa-play mr-1" aria-hidden="true"></i>
                        Oynat
                      </span>
                    </div>
                  </div>
                  <div class="block-social-info">
                    <ul class="list-inline p-0 m-0 music-play-lists">
                       <li class="share">
                          <span><i class="ri-share-fill"></i></span>
                          <div class="share-box">
                             <div class="d-flex align-items-center">
                                </div>
                          </div>
                       </li>
                       <li *ngIf="!watchlist.includes(m.id)"><span><i (click)="addToWatchlist(m.id)" class="ri-add-line"></i></span></li>
                       <li *ngIf="watchlist.includes(m.id)"> <span><i (click)="removeFromWatchlist(m.id)" class="ri-delete-bin-7-fill"></i></span></li>
                       <li>
                           <span><i class="ri-heart-fill"></i></span>
                        </li>
                    </ul>
                 </div>
                </div>
              </li>
            </ngx-slick-carousel>
            <a class="slick-arrow slick-next"
              ><i class="fa fa-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Most Viewed -->
<div class="main-content"> 
  <section id="iq-favorites">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 overflow-hidden">
          <div
            class="
              iq-main-header
              d-flex
              align-items-center
              justify-content-between
            "
          >
            <h4 class="main-title">En Çok İzlenenler</h4>
          </div>
          <div class="favorites-contens">
            <ngx-slick-carousel
              class="carousel"
              #slickModal="slick-carousel"
              [config]="slideConfig"
            >
              <li ngxSlickItem *ngFor="let m of mostViewed" class="slide-item">
                <div class="block-images position-relative">
                  <div class="img-box">
                    <img
                      class="img-fluid"
                      src="{{ m.pictureUrl }}"
                      alt=""
                      width="100%"
                    />
                  </div>
                  <div class="block-description">
                    <h6 class="iq-title">
                      <a href="movie-details.html">{{ m.name }}</a>
                    </h6>
                    <div class="movie-time d-flex align-items-center my-2">
                      <div class="badge badge-secondary p-1 mr-2">
                        {{ m.rated }}
                      </div>
                      <span class="text-white">{{ m.duration }}</span>
                    </div>
                    <div
                      (click)="setCurrentMovie(m)"
                      routerLink="/movie-play/{{ m.id }}"
                      class="hover-buttons"
                    >
                      <span class="btn btn-hover iq-button">
                        <i class="fa fa-play mr-1" aria-hidden="true"></i>
                        Oynat
                      </span>
                    </div>
                  </div>
                  <div class="block-social-info">
                    <ul class="list-inline p-0 m-0 music-play-lists">
                       <li class="share">
                          <span><i class="ri-share-fill"></i></span>
                          <div class="share-box">
                             <div class="d-flex align-items-center">
                               </div>
                          </div>
                       </li>
                       <li *ngIf="!watchlist.includes(m.id)"><span><i (click)="addToWatchlist(m.id)" class="ri-add-line"></i></span></li>
                       <li *ngIf="watchlist.includes(m.id)"> <span><i (click)="removeFromWatchlist(m.id)" class="ri-delete-bin-7-fill"></i></span></li>
                       <li>
                           <span><i class="ri-heart-fill"></i></span>
                        </li>
                    </ul>
                 </div>
                </div>
              </li>
            </ngx-slick-carousel>
            <a class="slick-arrow slick-next"
              ><i class="fa fa-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Movies By Categories -->
<ng-container *ngFor="let mc of moviesByCategories; let i = index">
  <ng-container *ngIf="mc.length>0">
<div class="main-content"> 
  <section id="iq-favorites">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 overflow-hidden">
          <div
            class="
              iq-main-header
              d-flex
              align-items-center
              justify-content-between
            "
          >
            <h4 class="main-title">{{categories[i].name}}</h4>
            <a class="iq-view-all" routerLink="/movies/{{categories[i].id}}">Tümünü Görüntüle</a>
          </div>
          <div class="favorites-contens">
            <ngx-slick-carousel
              class="carousel"
              #slickModal="slick-carousel"
              [config]="slideConfig"
            >
              <li ngxSlickItem *ngFor="let m of mc" class="slide-item">
                <div class="block-images position-relative">
                  <div class="img-box">
                    <img
                      class="img-fluid"
                      src="{{ m.pictureUrl }}"
                      alt=""
                      width="100%"
                    />
                  </div>
                  <div class="block-description">
                    <h6 class="iq-title">
                      <a href="movie-details.html">{{ m.name }}</a>
                    </h6>
                    <div class="movie-time d-flex align-items-center my-2">
                      <div class="badge badge-secondary p-1 mr-2">
                        {{ m.rated }}
                      </div>
                      <span class="text-white">{{ m.duration }}</span>
                    </div>
                    <div
                      (click)="setCurrentMovie(m)"
                      routerLink="/movie-play/{{ m.id }}"
                      class="hover-buttons"
                    >
                      <span class="btn btn-hover iq-button">
                        <i class="fa fa-play mr-1" aria-hidden="true"></i>
                        Oynat
                      </span>
                    </div>
                  </div>
                  <div class="block-social-info">
                    <ul class="list-inline p-0 m-0 music-play-lists">
                       <li class="share">
                          <span><i class="ri-share-fill"></i></span>
                          <div class="share-box">
                             <div class="d-flex align-items-center">
                                 </div>
                          </div>
                       </li>
                       <li *ngIf="!watchlist.includes(m.id)"><span><i (click)="addToWatchlist(m.id)" class="ri-add-line"></i></span></li>
                       <li *ngIf="watchlist.includes(m.id)"> <span><i (click)="removeFromWatchlist(m.id)" class="ri-delete-bin-7-fill"></i></span></li>
                       <li>
                           <span><i class="ri-heart-fill"></i></span>
                        </li>
                    </ul>
                 </div>
                </div>
              </li>
            </ngx-slick-carousel>
            <a class="slick-arrow slick-next"
              ><i class="fa fa-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</ng-container>
</ng-container>