
<form [formGroup]="userForm" class="form-signin">
    <!-- (ngSubmit)="login(loginForm)" #loginForm="ngForm"               -->
  <div class="container-fluid">
    <h2 class="form-signin-heading">Parolamı Unuttum</h2>
    <div *ngIf="invalidEmail" class="alert alert-danger">
      Bu Mail Adresi Bulunmuyor
    </div>
    <br>
    <input *ngIf="!gotPassword" formControlName="email" type="text" class="form-control" placeholder="Email" required autofocus>
    <input *ngIf="gotPassword" formControlName="password" type="password" class="form-control" placeholder="Şifre" required autofocus>
    <br>
    <button *ngIf="!gotPassword" class="btn btn-lg btn-primary btn-block" type="submit" (click)="sendMail()">Yeni Parola İste</button>
    <button *ngIf="gotPassword" class="btn btn-lg btn-primary btn-block" type="submit" (click)="createPassword()" routerLink="login">Parolayı Oluştur</button>
  </div>
</form>