<div>
<div class="main-content">
<section id="iq-favorites">
   <div class="container-fluid">
     <div class="row">
       <div class="col-sm-12 overflow-hidden">
         <div
           class="
             iq-main-header
             d-flex
             align-items-center
             justify-content-between
           "
         >
           <h4 class="main-title">Bollywood Blockbusters</h4>
         </div>
         <div class="favorites-contens">
           <ul
             class="
               favorites-slider
               list-inline
               row
               p-0
               mb-0
               slick-initialized slick-slider slick-dotted
             "
           >
             <a href="#" class="slick-arrow slick-prev"
               ><i class="fa fa-chevron-left"></i
             ></a>
             <div class="slick-list draggable">
               <li
               *ngFor="let m of movies"
                 class="slide-item slick-slide"
                 tabindex="-1"
                 style="width: 312px"
                 role="tabpanel"
                 aria-describedby="slick-slide-control03"
                 data-slick-index="-2"
                 aria-hidden="true"
               >
                 <div class="block-images position-relative">
                   <div class="img-box">
                     <img
                       src="{{m.pictureUrl}}"
                       class="img-fluid"
                       alt=""
                     />
                   </div>
                   <div class="block-description">
                     <h6 class="iq-title">
                       <a href="show-details.html" tabindex="-1">Looters</a>
                     </h6>
                     <div class="movie-time d-flex align-items-center my-2">
                       <div class="badge badge-secondary p-1 mr-2">11+</div>
                       <span class="text-white">2h 45m</span>
                     </div>
                     <div class="hover-buttons">
                       <span class="btn btn-hover">
                         <i class="fa fa-play mr-1" aria-hidden="true"></i>
                         Play Now
                       </span>
                     </div>
                   </div>
                   <div class="block-social-info">
                     <ul class="list-inline p-0 m-0 music-play-lists">
                       <li class="share">
                         <span><i class="ri-share-fill"></i></span>
                         <div class="share-box">
                           <div class="d-flex align-items-center">
                             <a
                               href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                               target="_blank"
                               rel="noopener noreferrer"
                               class="share-ico"
                               tabindex="-1"
                               ><i class="ri-facebook-fill"></i
                             ></a>
                             <a
                               href="https://twitter.com/intent/tweet?text=Currentlyreading"
                               target="_blank"
                               rel="noopener noreferrer"
                               class="share-ico"
                               tabindex="-1"
                               ><i class="ri-twitter-fill"></i
                             ></a>
                             <a
                               href="#"
                               data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                               class="share-ico iq-copy-link"
                               tabindex="-1"
                               ><i class="ri-links-fill"></i
                             ></a>
                           </div>
                         </div>
                       </li>
                       <li>
                         <span><i class="ri-heart-fill"></i></span>
                         <span class="count-box">19+</span>
                       </li>
                       <li>
                         <span><i class="ri-add-line"></i></span>
                       </li>
                     </ul>
                   </div>
                 </div>
               </li>
             </div>
             <a href="#" class="slick-arrow slick-next"
               ><i class="fa fa-chevron-right"></i
             ></a>
           </ul>
         </div>
       </div>
     </div>
   </div>
 </section>
</div>

<li class="nav-item nav-icon iq-show">
   <a href="#" class="search-toggle active" data-toggle="search-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22" class="noti-svg">
         <path fill="none" d="M0 0h24v24H0z"></path>
         <path d="M18 10a6 6 0 1 0-12 0v8h12v-8zm2 8.667l.4.533a.5.5 0 0 1-.4.8H4a.5.5 0 0 1-.4-.8l.4-.533V10a8 8 0 1 1 16 0v8.667zM9.5 21h5a2.5 2.5 0 1 1-5 0z"></path>
      </svg>
      <span class="bg-danger dots"></span>
   </a>
   <div class="iq-sub-dropdown">
      <div class="iq-card shadow-none m-0">
         <div class="iq-card-body">
            <a *ngFor="let m of movies" class="iq-sub-card">
               <div class="media align-items-center">
                  <img style="width:80px; height: 45px;" src="{{m.pictureUrl}}" class="img-fluid mr-3" alt="streamit">
                  <div class="media-body" style="margin-left: 10px;">
                     <h5 class="mb-2 font-size-18">{{m.name}}</h5>
                     <small class="font-size-12">Şimdi Oynat</small>
                  </div>
               </div>
            </a>
         </div>
      </div>
   </div>
</li>    
<div class="input-group">
  <div class="form-outline">
    <input type="search" id="form1" class="form-control" />
    <label class="form-label" for="form1">Search</label>
  </div>
  <button type="button" class="btn btn-primary">
    <i class="fas fa-search"></i>
  </button>
</div>