
/*---------------------------------------------------------------------
                    Header
-----------------------------------------------------------------------*/

header#main-header { position: fixed; left: 0px; right: 0px; text-align: center; z-index: 99; background: rgba(20, 20, 20, 0.5) !important; }
header .navbar-light .navbar-brand img.logo { width: 160px;  }
.iq-search-bar .search-input { width: 100%; height: 40px; padding: 5px 15px 5px 40px; border: none; border-radius: 0; color: var(--iq-white); background: var(--iq-bg1); }
.iq-search-bar .searchbox .search-link { position: absolute; left: 15px; top: 6px; font-size: 16px; }
.nav-item span.dots { height: 10px; width: 10px; font-size: 0; text-align: center; padding: 0; position: absolute; top: 3px; right: 12px; border-radius: 50%; -webkit-border-radius: 50%; }
.menu-right .nav-item span.dots { right: 0; }
.navbar-right li .iq-sub-dropdown .iq-sub-card { position: relative; font-size: inherit; padding: 15px 15px; line-height: normal; color: inherit; text-align: left; display: inline-block; width: 100%; border: 1px solid; border-image-slice: 1; border-width: 0 0 1px 0; border-image-source: linear-gradient(to right, rgba(209, 208, 207, 0.6), rgba(209, 208, 207, 0.3), rgba(209, 208, 207, 0)); }
.iq-sub-card.setting-dropdown { padding: 15px 15px 15px 0 !important; }
.navbar-right li .iq-sub-dropdown a.iq-sub-card:last-child { border-bottom: 0; }
.notify-bg { overflow: hidden; z-index: 99; }
.notify-bg:before { content: ''; display: block; position: absolute; background: rgba(255, 255, 255, 0.5); width: 70px; height: 100%; left: 0; top: 0; opacity: 0.5; filter: blur(30px); transform: translateX(-100px) skewX(-30deg); animation: noti-before-animation 2s infinite 2s; }
.notify-bg:after { content: ''; display: block; position: absolute; background: rgba(255, 255, 255, 0.2); width: 30px; height: 100%; left: 30px; top: 0; opacity: 0; filter: blur(5px); transform: translateX(-100px) skewX(-30deg); animation: noti-after-animation 2s infinite 2s; }
.navbar-right .iq-sub-dropdown .iq-card-body div { border-radius: 0; }
.navbar-right .iq-show .iq-sub-dropdown, .iq-show .search-box { opacity: 1; visibility: visible; transform: translate(0, 0); }
.navbar-right .iq-sub-dropdown { width: 300px; opacity: 0; visibility: hidden; position: absolute; top: 100%; right: 15px; background: var(--iq-bg1); transform: translate(0, 70px); -webkit-transform: translate(0, 70px); transition: all 0.3s; padding: 0; -webkit-box-shadow: 0px 0 20px 0 rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 0 20px 0 rgba(0, 0, 0, 0.5); box-shadow: 0px 0 20px 0 rgba(0, 0, 0, 0.5); -webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; transition: all 0.3s ease-out 0s; z-index: 1; }
/* .navbar-light .navbar-toggler-icon { background: url(../images/menu.png) no-repeat scroll center center; } */
.search-toggle:hover, header .navbar ul li.menu-item a:hover { color: var(--iq-primary) !important; }
.search-wrapper { position: relative; display: inline-block; height: 36px; vertical-align: bottom; }
.searchbutton { position: absolute; font-size: 22px; width: 100%; margin: 0; padding: 0; right: 16px; color: var(--iq-body-text); }
.search:focus + .searchbutton { transition-duration: 0.4s; -moz-transition-duration: 0.4s; -webkit-transition-duration: 0.4s; -o-transition-duration: 0.4s; color: var(--iq-primary); }
.search:hover + .searchbutton { color: var(--iq-white); }
.search { position: absolute; left: 49px; background-color: transparent; outline: none; border: none; border-bottom: 1px solid transparent; padding: 0 0 0 16px; width: 0; height: 100%; z-index: 10; color: var(--iq-white); transition-duration: 0.4s; -moz-transition-duration: 0.4s; -webkit-transition-duration: 0.4s; -o-transition-duration: 0.4s; }
.search:focus, .search:hover { width: 350px; padding: 0 0 0 0; border-color: var(--iq-body-text) }
.expandright { left: auto; right: -6px; bottom: -2px; }
.search::placehoder { color: var(--iq-white) !important; }
.noti-svg { -webkit-animation: notify 1.5s ease infinite; animation: notify 1.5s ease infinite; fill: var(--iq-body-text); }
.noti-svg:hover { fill: var(--iq-primary); }
.search-box { position: absolute; left: 0; right: 0; top: 46px; min-width: 25rem; width: 100%; z-index: -1; opacity: 0; transform: translate(0, 70px); -webkit-transform: translate(0, 70px); -webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; transition: all 0.3s ease-out 0s; box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15); }
.search-toggle { padding: 0 !important; }

header.style-one li .search-box input[type="search"] { border: none; background: var(--iq-bg1); }
header.style-one li .search-box .search-submit { right: auto; left: 0; background: transparent; }
header#main-header { position: fixed; left: 0px; right: 0px; text-align: center; z-index: 999; background: rgba(20, 20, 20, 0.5) !important; -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px); }
/*--------------------------------------------------------------
                       Navigation
--------------------------------------------------------------*/
header#main-header.menu-sticky { -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4); box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4); }
header#main-header.menu-sticky { position: fixed; top: 0; width: 100%; background: rgba(20, 20, 20, 0.5) !important; -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1); -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1); box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1); z-index: 999; }
header .navbar .menu-header-menu-container, header .navbar .menu-all-pages-container, header .navbar .menu-testing-menu-container, header .navbar .menu-short-container, header .navbar .menu-main-menu-container { display: inline-block; width: 100%; }
header .navbar ul.navbar-nav { display: block; text-align: center; }
header .navbar ul li { list-style: none; margin-right: 18px; position: relative; transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; display: inline-block; }
header .navbar ul li.menu-item a { font-size: 16px; font-weight: 400; position: relative; padding: 0px 0px 0px 10px; line-height: 70px; position: relative; z-index: 9; text-decoration: none; transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; text-transform: uppercase; }
.nav-open .nav-overlay { visibility: visible; -webkit-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; }
.nav-overlay { left: 0; right: 0; top: 0; bottom: 0; opacity: 0; z-index: 900; display: block; width: 100%; position: fixed; visibility: hidden; background: rgba(0, 0, 0, 0.6); -webkit-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; }
.more-toggle { color: var(--iq-white) !important; font-size: 22px; }
.dropdown-toggle.more-toggle::after { content: none; }
.mobile-more-menu { display: none; }
.more-menu { position: absolute; top: 50px; left: auto; right: 0; min-width: 18rem; padding: 0.35rem 0.5rem; margin: 0; opacity: 0; transform: translate(0, 70px); -webkit-transform: translate(0, 70px); -webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; transition: all 0.3s ease-out 0s; background: var(--iq-bg1); box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.75); visibility: hidden; z-index: 999; }
.more-menu.show { opacity: 1; transform: translate(0, 0); visibility: visible; }
header .navbar ul li:last-child { margin-right: 0; }

/*--------------------------------------------------------------
                       Main Slider
--------------------------------------------------------------*/
/* #home-slider ul.slick-dots { bottom: 30px; } */
/* #home-slider .slick-dots li { height: auto; width: auto; } */
/* #home-slider .slick-dots li button { height: 2px; width: 30px; background: rgba(229, 9, 20, 0.4); padding: 0; } */
/* #home-slider .slick-dots li.slick-active button { background: var(--iq-primary); } */
#home-slider li { position: relative; }
.slider-description { position: absolute; top: 15%; left: 80px; }
#home-slider h1.slider-text { font-size: 80px; margin: 15px 0; }
#home-slider p { margin: 20px 0; width: 600px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}
#home-slider .slick-bg { padding: 100px 0 50px;width:100%; background-size: cover;background-position: center center; background-repeat: no-repeat; height: 100vh; position: relative; z-index: 1;}
/* #home-slider .slick-bg.s-bg-1 { background-image: url("src/assets/images/inception.jpg"); } */
/* #home-slider .slick-bg.s-bg-2 {background-image: url(../images/slider/slider2.jpg); } */
/* #home-slider .slick-bg.s-bg-3 {background-image: url(../images/slider/slider3.jpg); } */
.trailor-video { position: absolute; bottom: 0; right: 0; z-index: 999;text-align: center; }


/* .trailor-video {
    margin: 0 auto;
    text-align: center;
} */
.channel-name { color: var(--iq-primary); font-size: 20px; margin-left: 10px; letter-spacing: 2.5px; font-weight: 500; }
.c-logo { width: 130px; }
.channel-logo { border-left: 5px solid var(--iq-primary); background: transparent linear-gradient(270deg, rgba(11, 1, 2, 0) 0%, rgba(255, 55, 65, 0.3) 100%); padding: 10px 10px 10px 15px; width: 255px; position: relative; overflow: hidden; }
.circle { stroke: var(--iq-primary); stroke-dasharray: 650; stroke-dashoffset: 650; -webkit-transition: all 0.5s ease-in-out; opacity: 0.3; }
.playbtn { display: inline-block; -webkit-transition: all 0.5s ease; }
.playbtn .triangle { -webkit-transition: all 0.7s ease-in-out; stroke-dasharray: 240; stroke-dashoffset: 480; stroke: var(--iq-white); transform: translateY(0); }
.playbtn:hover .triangle { stroke-dashoffset: 0; opacity: 1; stroke: var(--iq-primary); animation: trailorPlay 0.7s ease-in-out; }
.playbtn:hover .circle { stroke-dashoffset: 0; opacity: 1; }
.w-trailor { font-size: 17px; letter-spacing: 3.5px; font-weight: 600; color: var(--iq-white); margin-left: 5px; }
.slider-inner{position: relative;overflow: hidden;width: 100%;}
.big-title {/* background: url('../images/texure.jpg'); urlerror */background-repeat: repeat-x; background-position: 100% 100%; color: transparent; -webkit-font-smoothing: antialiased; -webkit-background-clip: text; -moz-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent; }
.slick-track{margin:unset!important;}

/*---------------------------------------------------------------------
                      Pages Content
-----------------------------------------------------------------------*/
.main-content { padding-top: 40px; }
.block-space { padding: 40px 0; }
.s-margin { margin-top: 40px; }
.iq-main-header { margin-bottom: 20px; }
.main-title a:hover, .main-title a:focus {color:var(--iq-primary) !important;}
:focus{outline: none !important;}
/*--------------------------*/
.favorites-slider .slick-list, #top-ten-slider-nav .slick-list { overflow: visible; padding-bottom: 40px !important; }
.favorites-slider li.slide-item { float: left; width: 25%; }
.favorites-slider .slick-list { overflow: visible; }
li.slide-item { position: relative; padding: 0 15px; }
li.slide-item .block-images {position: relative; width: 100%;transition: all 0.45s ease 0s; overflow: hidden;-webkit-backface-visibility: hidden; backface-visibility: hidden;-webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);transition: all 0.6s ease 0s; -webkit-transition: all 0.6s ease 0s; -moz-transition: all 0.6s ease 0s; -o-transition: all 0.6s ease 0s;}
li.slide-item:hover .block-images { overflow: visible; }
li.slide-item:hover .block-images .img-box{position:relative;}
li.slide-item:hover .block-images{z-index: 99;transform: scale3d(1.3, 1.3, 1) translate3d(0, 0, 0) perspective(500px); transform-origin: 50% 50%; transition: all 0.6s ease 0s; -webkit-transition: all 0.6s ease 0s; -moz-transition: all 0.6s ease 0s; -o-transition: all 0.6s ease 0s; box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.9); }
.block-social-info { position: absolute; top: 0; left: auto; bottom: 0;right: 25px; z-index: 999;display: flex; align-items: center; opacity: 0; }
.music-play-lists li { position: relative; height: 30px; width: 30px; line-height: 35px; text-align: center; background: rgba(255, 255, 255, 0.30); border-radius: 50%; margin: 0 auto 7px; display: flex; -webkit-display: flex; -moz-display: flex; -o-display: flex; align-items: center; }
.music-play-lists span { position: relative; display: block; height: 20px; width: 20px; line-height: 26px; font-size: 12px; text-align: center; background: var(--iq-white); color: var(--iq-primary); border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -o-border-radius: 50%; margin: 0 auto; display: flex; -webkit-display: flex; -moz-display: flex; -o-display: flex; align-items: center; justify-content: center; transition: all 0.45s ease 0s; -webkit-transition: all 0.45s ease 0s; -moz-transition: all 0.45s ease 0s; -o-transition: all 0.45s ease 0s; cursor: pointer; }

.music-play-lists .count-box {height: 15px !important;width: 15px !important;line-height: 15px i !important;font-size: 8px !important;background: var(--iq-primary)!important;color: var(--iq-white-color)!important;position: absolute;right: 0;top: 0px;padding: 0;text-align: center!important;}

.music-play-lists li:hover span { background: var(--iq-primary); color: var(--iq-white); transition: all 0.45s ease 0s; -webkit-transition: all 0.45s ease 0s; -moz-transition: all 0.45s ease 0s; -o-transition: all 0.45s ease 0s; }
.block-description {position: absolute; left:25px; top: 0; bottom: 0;z-index: 999; display: flex; justify-content: center; flex-direction: column; }
/* .block-description { position: absolute; left: 25px; top: 0; bottom: 0; z-index: 999; display: flex; justify-content: center; flex-direction: column; } */



.block-description > h6{font-size: 1.5em;}
.block-description .iq-title { font-size: 18px; color: var(--iq-white-color); text-transform: capitalize; }
.text-white {font-size: 14px;}

li.slide-item .block-images::before { position: absolute; content: ""; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.8); width: 100%; height: 100%;opacity: 0;}
li.slide-item:hover .block-images::before { opacity: 1; z-index: 9; }
li.slide-item:hover .block-description { animation: fadeIn 0.6s ease-in-out; opacity: 1; }
li.slide-item:hover .block-social-info { animation: fadeIn  0.6s ease-in-out; opacity: 1; }
.hover-buttons .btn { padding: 5px 15px; font-size: 12px; }
li.slide-item.slick-current:hover .block-images{ transform: scale3d(1.1, 1.1, 1) translate3d(6%, 0, 0) perspective(500px); }

/* code */
#trending-slider-nav .slick-current.slick-active {
    transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) perspective(500px);
    -webkit-transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) perspective(500px);
    -moz-transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) perspective(500px);
    -o-transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) perspective(500px);
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.9);
}

/* edited footer start */

li.slide-item .block-images::after { position: absolute; content: ""; top: 0; bottom: 0; left: 0; right: 0; background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(20, 20, 20, 0.4) 50%, rgba(83, 100, 141, 0) 100%); transition: all 0.6s ease 0s; -webkit-transition: all 0.6s ease 0s; -moz-transition: all 0.6s ease 0s; -o-transition: all 0.6s ease 0s; }
.slick-vertical .slick-slide .block-images::after { position: absolute; content: ""; top: 0; bottom: 0; left: 0; right: 0; background:linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(20, 20, 20, 0.4) 50%, rgba(83, 100, 141, 0) 100%); transition: all 0.45s ease 0s; -webkit-transition: all 0.45s ease 0s; -moz-transition: all 0.45s ease 0s; -o-transition: all 0.45s ease 0s; }


small, .text_small, span { font-size: 14px; }
a:focus, a:hover { color: var(--iq-primary); outline: none; }

li.slide-item { position: relative; padding: 0px 10px; }
li.slide-item .block-images { position: relative; width: 100%; transition: all 0.45s ease 0s; overflow: hidden; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); transition: all 0.6s ease 0s; -webkit-transition: all 0.6s ease 0s; -moz-transition: all 0.6s ease 0s; -o-transition: all 0.6s ease 0s; }
li.slide-item:hover .block-images { overflow: visible; border-left:5px solid #e50914; }
li.slide-item:hover .block-images .img-box { position: relative; }
li.slide-item:hover .block-images { z-index: 99; transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) perspective(500px); -webkit-transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) perspective(500px); -moz-transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) perspective(500px); -o-transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) perspective(500px); transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; transition: all 0.6s ease 0s; -webkit-transition: all 0.6s ease 0s; -moz-transition: all 0.6s ease 0s; -o-transition: all 0.6s ease 0s; box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.9); }

#home-slider .trending-list {margin: 0 0 30px 0;}
.slider-ratting ul li{margin-right: 5px;}

.iq-button.btn {
    padding: 7px 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
/* edited end */

.block-images .hover-buttons { margin-top: 5px; }
.block-social-info .music-play-lists li{width:40px;height:40px;}
.block-social-info .music-play-lists span{width:30px;height:30px;}
.block-social-info .music-play-lists span i{font-size: 15px;}


/*-------------------*/
.movie-content li { position: relative; padding-right: 20px; }
.m.movie-content li:last-child { padding-right: 0px; }
.movie-content li:before { content: ""; height: 3px; width: 3px; background: #dddddd; position: absolute; top: 10px; right: 8px; border-radius: 50%; }
.movie-detail .movie-content li:before { width: 5px; height: 5px; }
.movie-content li:last-child:before { display: none; }
li.slide-item .block-description .ratting-start { font-size: 12px; }
li.slide-item .block-description .badge { background-color: rgb(72, 72, 72, 0.61); }
li.slide-item .block-description .parallax-ratting span { font-size: 14px; }
.slick-vertical .slick-slide.slick-current.slick-active .block-description { left: 25px; transition: all 0.45s ease 0s; -webkit-transition: all 0.45s ease 0s; -moz-transition: all 0.45s ease 0s; -o-transition: all 0.45s ease 0s; opacity: 1; }
.slick-vertical .slick-slide .block-images { overflow: visible; }
.slick-vertical .slick-slide .block-images::before { position: absolute; content: ""; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.8); opacity: 0; transition: all 0.45s ease 0s; -webkit-transition: all 0.45s ease 0s; -moz-transition: all 0.45s ease 0s; -o-transition: all 0.45s ease 0s; border-left: 6px solid var(--iq-primary); }
.slick-vertical .slick-slide.slick-current.slick-active .block-images::before { opacity: 1; transition: all 0.45s ease 0s; -webkit-transition: all 0.45s ease 0s; -moz-transition: all 0.45s ease 0s; -o-transition: all 0.45s ease 0s; }
.slick-vertical .slick-slide.slick-current.slick-active .block-images { width: 100%; overflow: visible; transform-origin: 100% 100%; transition: all 0.45s ease 0s; -webkit-transition: all 0.45s ease 0s; -moz-transition: all 0.45s ease 0s; -o-transition: all 0.45s ease 0s; z-index: 9; }
.slick-vertical li.slick-slide.slick-current.slick-active { transition: all 0.45s ease 0s; }
.slick-vertical .slick-slide { margin-bottom: 18px; }
.slick-vertical li.slick-slide:last-child { margin-bottom: 0 !important; }

/* ads */

.slick-vertical .block-description .hover-buttons > a{opacity: 0; display: none;  transition: all 0.45s ease 0s; -webkit-transition: all 0.45s ease 0s; -moz-transition: all 0.45s ease 0s; -o-transition: all 0.45s ease 0s;}
.slick-vertical .slick-slide.slick-current.slick-active .block-description .hover-buttons> a { transition: all 0.45s ease 0s; -webkit-transition: all 0.45s ease 0s; -moz-transition: all 0.45s ease 0s; -o-transition: all 0.45s ease 0s; opacity: 1; display: block; }


/*---------------------*/
#trending-slider .tranding-block, .banner-wrapper { background-size: cover; background-position: top right; position: relative; }
.trending-pills { background: rgb(0, 0, 0, 0.25); }
.trending-info { padding: 60px 0; }
.tab-title-info { z-index: 99; }
.trending-content .tab-pane.fade { display: none; visibility: hidden; opacity: 0; }
.trending-content .tab-pane.fade.active.show { display: block; visibility: visible; opacity: 1; }
.trending-content .tab-pane { width: 100%; height: 100%; }
.trending-pills.nav-pills .nav-item a { position: relative; overflow: hidden; border-radius: 0; text-transform: uppercase; margin-left: 15px; margin-right: 15px; }
.trending-pills.nav-pills .nav-item a:after { content: ''; position: absolute; left: 0; top: 0; width: 0; height: 3px; background: var(--iq-primary); opacity: 0; -webkit-transition: all 0.8s linear; -moz-transition: all 0.8s linear; -o-transition: all 0.8s linear; transition: all 0.8s linear; }
.trending-pills.nav-pills .nav-item a:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to top, rgba(83, 100, 141, 0) 0%, rgb(218, 64, 60, 0.3) 85%); content: ''; opacity: 0; filter: alpha(opacity=0); -webkit-transform: translate3d(0, -50%, 0); transform: translate3d(0, -50%, 0); -o-transform: translate3d(0, 50%, 0); -moz-transform: translate3d(0, 50%, 0); -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
.trending-pills.nav-pills .nav-item a.show:before { opacity: 1; filter: alpha(opacity=100); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
.trending-pills.nav-pills .nav-item a.show:after { opacity: 1; width: 100%; }
.trending-pills.nav-pills .nav-item a:hover { color: var(--iq-primary); }
.trending-content { padding: 0px 50px; display: flex; }
.p-btns { display: flex; align-items: center; }
.trending-info .trending-text { font-size: 60px; line-height: 100px; margin: 15px 0; }
.trending-info .text-detail { font-size: 20px; font-weight: 500; letter-spacing: 0.7px; margin-bottom: 30px; }
.trending-info .text-detail .badge { font-size: 20px; }
.badge.badge-trend { background: rgb(0, 0, 0, 0.42); }
.text-detail .trending-year { position: relative; padding-left: 30px; }
.text-detail .trending-year:before { content: ""; height: 6px; width: 6px; background: var(--iq-white); position: absolute; top: 50%; transform: translateY(-50%); left: 13px; border-radius: 50%; }
.overview-tab:before, .slick-bg:before { content: ''; position: absolute; top: 0; left: 0; width: 90%; height: 100%; background: linear-gradient(90deg, rgba(20, 20, 20, 1) 0%, rgba(36, 36, 36, 1) 35%, rgba(83, 100, 141, 0) 100%); z-index: 1; }
.slick-bg:before { background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(20, 20, 20, 1) 35%, rgba(83, 100, 141, 0) 100%); width: 100%; z-index: -1; }
.overlay-tab:before { content: ''; position: absolute; top: 0; left: 0; right: 0; width: 100%; height: 100%; background: rgba(36, 36, 36, 0.8); z-index: 1; }
.trending-info { position: relative; z-index: 99; }
.trending-info .trending-dec { margin-bottom: 30px; width: 35%; }
.trending-info .block-social { height: 45px; width: 45px; line-height: 45px; text-align: center; background: rgba(255, 255, 255, 0.15); border-radius: 50%; margin-left: 15px; display: flex; -webkit-display: flex; -moz-display: flex; -o-display: flex; align-items: center; }
.trending-info .block-social a { position: relative; display: block; height: 32px; width: 32px; line-height: 26px; font-size: 16px; text-align: center; background: var(--iq-white); color: var(--iq-primary); border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -o-border-radius: 50%; margin: 0 auto; display: flex; -webkit-display: flex; -moz-display: flex; -o-display: flex; align-items: center; justify-content: center; transition: all 0.45s ease 0s; -webkit-transition: all 0.45s ease 0s; -moz-transition: all 0.45s ease 0s; -o-transition: all 0.45s ease 0s; }
.trending-info .block-social.social1 a { background: var(--iq-primary); color: var(--iq-white); }
.trending-list .title { font-size: 18px; font-weight: 500; }
.trending-list .title span { font-size: 16px; font-weight: 400; }
.trending-info .iq-dropdown .form-control { background: rgb(0, 0, 0, 0.20); border-radius: 5px; color: var(--iq-white); }

.movies-tab-desc p {margin-bottom: 0;    display: inherit !important;}
#iq-trending {overflow: hidden;}
#trending-slider-nav .slick-list { padding-bottom: 40px !important; overflow: visible; }
#trending-slider-nav .movie-slick { border: 12px solid transparent; transition: all 0.4s ease; z-index: -1; }
#trending-slider-nav .slick-current.slick-active .movie-slick { 
    transition: all 0.4s ease;
    padding: 10px;
    background: rgba(20, 20, 20, 0.5) !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(1px);
    border: 1px solid #5d5757;
 }
#trending-slider-nav .slick-current.slick-active {
    transform: scale3d(1.3, 1.3, 1) translate3d(0, 0, 0) perspective(500px);
    -webkit-transform: scale3d(1.3, 1.3, 1) translate3d(0, 0, 0) perspective(500px);
    -moz-transform: scale3d(1.3, 1.3, 1) translate3d(0, 0, 0) perspective(500px);
    -o-transform: scale3d(1.3, 1.3, 1) translate3d(0, 0, 0) perspective(500px);
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.9);
}
.trending-contens .episodes-contens {margin-top: 30px;}
.e-item .episodes-description { color: var(--iq-body-text) !important; background: var(--iq-bg1); padding: 15px; }
.e-item:hover .episodes-description { color: var(--iq-white-color) !important; }
.episodes-description a:hover { color: var(--iq-primary); }
.episode-number { color: var(--iq-white-color); }
.episode-duration{position: absolute; top: 15px; left: auto; right: 15px; font-weight: 700; background: var(--iq-primary); color: var(--iq-white-color); padding: 0 5px;}
.e-item .episodes-description p {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;}
.e-item:hover .episode-number { opacity: 1; filter: alpha(opacity=100); -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
.episode-play-info { position: absolute; left: 0; right: 0; top: 0; bottom: 0; opacity: 0; filter: alpha(opacity=0); -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; display: flex; flex-direction: column; align-items: center; justify-content: center; }
.e-item:hover .episode-play-info { opacity: 1; filter: alpha(opacity=100); -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
.episode-play { height: 45px; width: 45px; line-height: 45px; text-align: center; background: rgba(255, 255, 255, 0.15); border-radius: 50%; margin: 0 auto; display: flex; -webkit-display: flex; -moz-display: flex; -o-display: flex; align-items: center; }
.episode-play a { position: relative; display: block; height: 32px; width: 32px; line-height: 26px; font-size: 16px; text-align: center; background: var(--iq-white-color); color: var(--iq-primary); border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -o-border-radius: 50%; margin: 0 auto; display: flex; -webkit-display: flex; -moz-display: flex; -o-display: flex; align-items: center; justify-content: center; transition: all 0.45s ease 0s; -webkit-transition: all 0.45s ease 0s; -moz-transition: all 0.45s ease 0s; -o-transition: all 0.45s ease 0s; }
.episodes-slider1 .owl-nav { position: absolute; top: 50%; transform: translateY(-50%); left: 0; right: 0; color: #fff; }
.episodes-slider1 .owl-nav button.owl-prev, .episodes-slider1 .owl-nav button.owl-next { float: left; width: 35px; height: 60px; background: rgba(0, 0, 0, 0.5); line-height: 23px; font-size: 30px; text-align: center; display: flex; align-items: center; justify-content: center; }
.episodes-slider1 .owl-nav button.owl-next { float: right !important; }



/* parallax */
.parallax-img img { box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.6); }
.parallax-window { height: 100%; padding: 100px 0; position: relative; /*background: url(../images/parallax/p1.jpg)center center;*/ background-size: cover; background-attachment: fixed; }
.parallax-window::after { position: absolute; content: ""; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.8); }
.parallaxt-details { z-index: 9; position: relative; }

/*---------------------------------------------------------------------
                      Back to Top
-----------------------------------------------------------------------*/
#back-to-top .top { z-index: 999; position: fixed; margin: 0px; color: var(--iq-white); background: var(--iq-primary); bottom: 30px; right: 25px; font-size: 26px; width: 50px; height: 50px; text-align: center; line-height: 50px; border-radius: 90px; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }
#back-to-top .top:hover { color: var(--iq-white) !important; background: var(--iq-primary); }
#back-to-top{opacity: 0;transition: opacity 0.6s ease;}
#back-to-top.show {
  opacity: 1;
  transition: opacity 0.6s ease;
}

/*---------------------------------------------------------------------
                      Animation
-----------------------------------------------------------------------*/
@keyframes slide-down {
	0% { opacity: 0; transform: translateY(100%); }
	100% { opacity: 1; transform: translateY(0); }
}
@keyframes notify {
	0% { -webkit-transform: scaleX(1); transform: scaleX(1) }
	10% { -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg); transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg) }
	20% { -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg); transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg) }
	30% { -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg); transform: scale3d(1.1, 1.1, 1.1) rotate(3deg) }
	50% { -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg); transform: scale3d(1.1, 1.1, 1.1) rotate(3deg) }
	70% { -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg); transform: scale3d(1.1, 1.1, 1.1) rotate(3deg) }
	90% { -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg); transform: scale3d(1.1, 1.1, 1.1) rotate(3deg) }
	40% { -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg); transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg) }
	60% { -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg); transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg) }
	80% { -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg); transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg) }
	to { -webkit-transform: scaleX(1); transform: scaleX(1) }
}
@-webkit-keyframes slide-in {
	100% { left: 0; }
}
@keyframes slide-in {
	100% { left: 0; }
}
@keyframes pulse-border {
	0% { transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1); opacity: 1; }
	100% { transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5); opacity: 0; }
}
@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	50% { opacity: 0.2; }
	to { opacity: 1; }
}
@keyframes fadeIn {
	0% { opacity: 0; }
	50% { opacity: 0.2; }
	to { opacity: 1; }
}
@keyframes trailorPlay {
	0% { transform: translateX(0); }
	30% { transform: translateX(-5px); }
	50% { transform: translateX(5px); }
	70% { transform: translateX(-2px); }
	100% { transform: translateX(0); }
}

 /*---------------------------------------------------------------------
     Breadcrumb style 1 2 and 3 4 5
    -----------------------------------------------------------------------*/
    .breadcrumb li { display: inline-block; word-break: break-all; }
    .iq-breadcrumb { padding: 150px 0 80px; background: var(--iq-bg1); }
    .iq-breadcrumb-two { padding: 45px 0; position: relative; z-index: 2; }
    .iq-breadcrumb-one { display: block; padding: 150px 0 80px; z-index: 9; position: relative; }
    .iq-breadcrumb-one ol li a { color: var(--iq-primary); text-decoration: none; font-weight: 700; }
    .iq-breadcrumb-one ol li { list-style: none; display: inline-block; }
    .iq-breadcrumb-one .breadcrumb-item+.breadcrumb-item::before { content: ">"; color: var(--iq-primary); }
    .iq-breadcrumb-one .breadcrumb { position: relative; display: inline-block; }
    .iq-breadcrumb-one .breadcrumb-item.active { color: var(--iq-primary); position: relative; font-weight: 700; }
    .iq-breadcrumb-one ol { background: transparent; padding: 0; margin-bottom: 0; margin-top: 15px; }
    .iq-breadcrumb-two .breadcrumb { display: inline-block; }
    .iq-breadcrumb-two ol li { display: inline-block; }
    .iq-breadcrumb-three .breadcrumb { margin-top: 0; }
    .iq-breadcrumb-three .iq-breadcrumb-one { padding: 0; }
    .iq-breadcrumb-three { padding: 45px 0; }
    .breadcrumb-bg, .breadcrumb-video, .video-iq-bg-over { position: relative; overflow: hidden; }
    .breadcrumb-bg video, .breadcrumb-bg #video-background, .breadcrumb-video video, .video-iq-bg-over video, .video-breadcrumb-bg #video-background, .video-iq-bg-over #video-background { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: inline-block; width: 100%; }
    .breadcrumb-bg.iq-over-dark-80:before, .breadcrumb-ui:before { z-index: 0; }
    .iq-breadcrumb-one { background-repeat: no-repeat !important; background-position: center !important; background-size: cover !important; background-color: var(--iq-bg1) !important; }
    
    /*---------------------------------------------------------------------
       Background Gradient
      ---------------------------------------------------------------------*/
    .iq-bg-over { position: relative; }
    .iq-over-dark-10:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; background: rgb(0, 0, 0, 0.1); display: block !important; }
    .iq-over-dark-20:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; background: rgb(0, 0, 0, 0.2); display: block !important; }
    .iq-over-dark-30:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; background: rgb(0, 0, 0, 0.3); display: block !important; }
    .iq-over-dark-40:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; background: rgb(0, 0, 0, 0.4); display: block !important; }
    .iq-over-dark-50:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; background: rgb(0, 0, 0, 0.5); display: block !important; }
    .iq-over-dark-60:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; background: rgb(0, 0, 0, 0.6); display: block !important; }
    .iq-over-dark-70:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; background: rgb(0, 0, 0, 0.7); display: block !important; }
    .iq-over-dark-80:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; background: rgb(0, 0, 0, 0.8); display: block !important; }
    .iq-over-dark-85:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; background: rgb(0, 0, 0, 0.85); display: block !important; }
    .iq-over-dark-90:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; background: rgb(0, 0, 0, 0.9); display: block; }
    .iq-over-dark-95:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; background: rgb(0, 0, 0, 0.95); display: block !important; }

/*---------------------------------------------------------------------
     Contact form
    -----------------------------------------------------------------------*/


  input, input[type=text], input[type=email], input[type=search], input[type=password], textarea { width: 100%; padding: 0 15px; height: 48px; line-height: 48px; background: var(--iq-body-bg); border: 1px solid #404043; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; color: var(--iq-body-text); transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; }
  textarea { padding: 0 15px; height: 150px; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }
  .comments-area table td, .comments-area table th { border: 1px solid var(--iq-white-light-color); }
  input:focus, input[type=text]:focus, input[type=email]:focus, input[type=search]:focus, input[type=password]:focus, textarea:focus, select:focus { border-color: var(--iq-primary); box-shadow: none; outline: none; }



  /*---------------------------------------------------------------------
                                General
  -----------------------------------------------------------------------*/
  
  h1 { font-size: 4.209em; }
  h2 { font-size: 3.157em; }
  h3 { font-size: 2.369em; }
  h4 { font-size: 1.777em; }
  h5 { font-size: 1.333em; }
  h6 { font-size: 1rem; }

  /*-------------------------------------------------------------------
                    header menu                                          
----------------------------------------------*/
.navbar ul li:hover>.sub-menu {
    display: block !important;
    -webkit-animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.navbar ul li:hover .sub-menu {
    display: block;
    padding: 15px 0;
    background: var(--iq-body-bg);
    position: absolute;
    top: 100%;
    left: 0;
    padding-left: 0;
    display: inline-block;
    min-width: 256px;
    -webkit-box-shadow: 0px 1px 30px 0px rgb(36 38 43 / 10%);
    -moz-box-shadow: 0px 1px 30px 0px rgba(36, 38, 43, 0.10);
    box-shadow: 0px 1px 30px 0px rgb(36 38 43 / 10%);
}
.navbar ul li .sub-menu li>.sub-menu {
    display: none;
}
.navbar .navbar-nav li:last-child .sub-menu li:hover>.sub-menu,  .navbar .navbar-nav li:nth-last-child(2) .sub-menu li:hover>.sub-menu {
    left: auto;
    right: 100%;
    top:-15px;
}
 .navbar ul li:last-child {
    margin-right: 0;
}            
     
.navbar ul.navbar-nav>li.menu-item:hover>a,.navbar ul.navbar-nav>li.menu-item:hover>i {
    color: var(--iq-primary);
}
.navbar ul.navbar-nav>li.menu-item>a {
    text-transform: uppercase;
}
.navbar ul.navbar-nav>li:hover>a {
    font-weight: 700;
}
 .navbar ul li.menu-item a {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    padding: 0px 0px 0px 10px;
    line-height: 70px;
    position: relative;
    z-index: 9;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    text-transform: capitalize;
}
.navbar ul li .sub-menu {
    display: none;
}
 /* .navbar ul {
    float: inherit;
    display: block;
    text-align: center;
} */
.navbar ul li .sub-menu li {
    margin-right: 0;
    padding: 0 15px;
}
.navbar ul.sub-menu li {
    display: block;
    text-align: left;
}
.navbar ul li {
    list-style: none;
    margin-right: 18px;
    position: relative;
    transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    display: inline-block;
}
.menu-sticky .navbar ul li .sub-menu>li a {
    line-height: 1em;
}
.navbar ul li .sub-menu li>a {
    font-size: 14px;
    border-radius: 0;
    display: inline-block;
    width: 100%;
    line-height: 1em;
    padding: 15px;
    color: var(--iq-body-text);
    position: relative;
    overflow: hidden;
}
.navbar ul li.menu-item a {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    padding: 0px 0px 0px 10px;
    line-height: 70px;
    position: relative;
    z-index: 9;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    text-transform: capitalize;
}
 .navbar ul li .sub-menu li>a::before {
    position: absolute;
    content: "";
    background: var(--iq-primary);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 4px;
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    transition: all 0.5s ease-in-out;
}
header .navbar ul li .sub-menu li.current-menu-parent>a::after, header .navbar ul li .sub-menu li .sub-menu li.menu-item.current-menu-item>a::after, header .navbar ul li .sub-menu li .sub-menu li.menu-item:hover>a::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: all 0.5s ease-in-out;
}
header .navbar ul li .sub-menu li:hover>a::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: all 0.5s ease-in-out;
}
.navbar ul li .sub-menu li>a::after {
    position: absolute;
    content: "";
    background: transparent linear-gradient(
270deg
, var(--iq-form-gradient-color) 0%, var(--iq-to-gradient-color) 100%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    transition: all 0.5s ease-in-out;
    z-index: -1;
}
header .navbar ul li .sub-menu li.current-menu-parent>a::after, header .navbar ul li .sub-menu li .sub-menu li.menu-item.current-menu-item>a::after, header .navbar ul li .sub-menu li .sub-menu li.menu-item:hover>a::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: all 0.5s ease-in-out;
}
header .navbar ul li .sub-menu li:hover>a::before {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: all 0.5s ease-in-out;
}



