<video (click)="getDuration()" id="my-player" style="color: #e50914;" class="video-js vjs-big-play-centered" controls preload="auto" width="1500" height="620">
    <track kind='captions' src='/assets/subtitles/para.vtt' srclang='en' label='English' />
    <p class="vjs-no-js">  
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">
        supports HTML5 video
      </a>
    </p>
  </video>